

.about-col-1{
    flex-basis: 100%;
}

.about-col-2{
    flex-basis: 100%;
}
.services-list {
    display: flex;
    /*grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));*/
   justify-content: center;
   flex-wrap: wrap;
}


.services-list div{
    padding: 25px;
    font-size: 18px;
}

.work-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
    
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    padding: 2%;
    
   
}